@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap");

.logo__container {
	display: flex;
	flex-direction: row;
	justify-content: center; /*Horizontal*/
	align-items: center; /*Vertical*/
}

.image {
	margin: 0.3em 0;
	width: auto;
	height: 3.5em;
	animation: image-spin 3s linear infinite;
	background: transparent;
}

.title {
	margin: 0 0.6em;
	font-size: 1.2em;
	color: #61dafb;
	background: transparent;
}

@keyframes image-spin {
	0% {
		transform: rotate(0deg);
		left: 100%;
	}
	100% {
		transform: rotate(180deg);
		left: 0%;
	}
}
